* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(36, 36, 36);
  color: #ffffff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.main {
  border: 1px solid lightgray;
  border-radius: 5px;
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  padding: 15px;
}

.planet {
  border: 1px solid lightgray;
  border-radius: 5px;
  margin: 15px;
  padding: 15px;
  width: 25%;
  height: 100px;
  text-align: center;
}

.header {
  text-align: center;
  padding: 10px;
  margin: 10px;
}

.loading {
  text-align: center;
  font-size: 2rem;;
}